header
  margin-bottom: 45px
  .logo
    a
      display: block
      +replace-text-with-dimensions("logo.png")
      &:hover
        +opacity(0.6)

  .phone
    padding-top: 10px
    letter-spacing: 2px
    font-weight: 600
    color: $orange
  nav.user
    float: left
    padding-top: 4px
    li
      display: inline-block    
    a
      font-weight: 800
      color: $orange
  nav.social
    float: right

  nav.main
    position: relative
    .indicator
      position: absolute
      display: block
      margin: 0
      padding: 0
      z-index: 999
      background: $orange
      height: 4px
      bottom: -4px
    ul
      position: relative
      z-index: 1000 //stay on top of indicator
      +horizontal-list(4px)      
      li:last-child a
        padding-right: 0px
      li.active a
        color: $orange
    a
      +transition(all 1s ease)
      font-weight: 700
      color: $grey
      &:hover
        text-decoration: none

  nav.main-phone
    display: none
    &.on
      display: block
      padding: 10px 0
    li.active a, a:hover
      text-decoration: none
      color: $orange
    a
      +transition(all 0.5s ease)
      font-weight: 700
      color: $grey
      font-size: 22px
      padding: 4px
      text-align: center
      display: block


header
  .logo
    +span-columns(2,4)
    a
      background-size: contain
      width: 100%
  .phone
    display: none
  .user
    +span-columns(2 omega,4)
    ul
      text-align: right
      margin-bottom: 10px
    a
      font-size: 14px    

  .main
    display: none
  .phone-only
    display: block
    .phone
      display: block
      text-align: center
      font-size: 25px
  .tablet-only
    display: none
  +at-breakpoint($tablet)
    .logo
      +span-columns(2,8)
    .user
      +span-columns(5,8)
      padding-bottom: 10px
      ul
        +inline-block-list
      a
        padding: 0 14px
        font-size: 22px      
    .social
      +span-columns(1 omega,8)
      .more
        display: none
    .main
      display: block
      margin-top: 20px      
      +span-columns(8 omega,8)
      a
        font-size: 14px
        padding-right: 8px
        b
          display: inline
    .phone-only
      display: none
    .tablet-only
      display: block
      +span-columns(5 omega,8)
      .phone
        padding-top: 4px
        display: block
        text-align: right
        font-size: 25px       
  +at-breakpoint($computer)
    .logo
      +span-columns(3,12)
      a
        width: 157px
    .phone
      padding-top: 4px    
      display: block
      font-size: 22px
      +span-columns(4,12)
    .user
      +span-columns(4,12)
      padding-bottom: 0

    .social
      +span-columns(1 omega,12)
    .phone, .user, .social
      height: 50px

    .main
      +span-columns(9 omega,12)
      margin-top: 0
      a
        font-size: 16px
    .tablet-only
      display: none        