@import "partials/vars"
@import "susy"
@import "compass"

@import "partials/normalize"
@import "partials/sprites"
@import "partials/debug"
@import "partials/colors"
@import "partials/reset"
@import "partials/header"
@import "partials/footer"
@import "sections/contact"
@import "sections/franquicias"
@import "sections/home"
@import "sections/menu"
@import "sections/pedidos"
  
.container
  +container($total-columns, $tablet, $computer)
  img
    max-width: 100%
  +at-breakpoint($tablet)
  +at-breakpoint($computer)



body
  padding-top: 38px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 16px
  background: image_url("bg2.png") no-repeat, image_url("bg1.png") no-repeat

  a
    text-decoration: none
    &:hover
      text-decoration: underline

nav.social
  ul
    +inline-block-list
  a
    display: block
    &:hover
      +opacity(0.6)
    
  .fb a
    margin-right: 2px
    +replace-text-with-dimensions("fb.png")
  .tw a
    +replace-text-with-dimensions("tw.png")
  .more a
    +replace-text-with-dimensions("more.png")
