@import "normalize"
@import "compass"
@import "sprites"
@import "susy"
@import "colors"
@import "reset"
@import "header"
@import "footer"

$total-columns  : 4 //phone columns
$column-width   : 4em
$gutter-width   : 1em
$grid-padding   : $gutter-width

$tablet : 8
$computer : 12

.container
  +container($total-columns, $tablet, $computer)
  img
    max-width: 100%
  +at-breakpoint($tablet)
  +at-breakpoint($computer)







header
  .logo
    +span-columns(2,4)
    a
      background-size: contain
      width: 100%
  .phone
    display: none
  .user
    +span-columns(2 omega,4)
    .user li
      display: block
  .main
    +span-columns(4 omega,4)
    margin-top: 20px
    a
      font-size: 14px

  +at-breakpoint($tablet)
    .logo
      +span-columns(2,8)
    .phone
      display: block
      font-size: 20px
      +span-columns(2,8)
    .user
      +span-columns(3,8)
    .social
      +span-columns(1 omega,8)
    .main
      +span-columns(8 omega,8)
      a
        font-size: 14px

  +at-breakpoint($computer)
    .logo
      +span-columns(3,12)
      a
        width: 157px
    .phone
      display: block
      font-size: 22px
      +span-columns(4,12)
    .user
      +span-columns(4,12)
      li
        display: inline-block
    .social
      +span-columns(1 omega,12)
    .phone, .user, .social
      height: 50px

    .main
      +span-columns(9 omega,12)
      margin-top: 0
      a
        font-size: 16px
        




.debug .container
  +susy-grid-background
  +at-breakpoint($tablet)
    +susy-grid-background
  +at-breakpoint($computer)
    +susy-grid-background


#debug
  color: blue
  border: 1px solid #ccc
  border-radius: 4px
  padding: 8px
  background: white
  position: fixed
  top: 1em
  right: 1em
  font-size: 13px
  z-index: 10000

body
  padding-top: 38px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 16px
  background: image_url("bg2.png") no-repeat, image_url("bg1.png") no-repeat

  a
    text-decoration: none
    &:hover
      text-decoration: underline

nav.social
  ul
    +inline-block-list
  a
    display: block
    &:hover
      +opacity(0.6)
    
  .fb a
    margin-right: 2px
    +replace-text-with-dimensions("fb.png")
  .tw a
    +replace-text-with-dimensions("tw.png")


section.contact
  .contact-box
    padding: 60px 0px 44px
    overflow: hidden
    background: image_url("contact-form-bg.png") no-repeat center center
  .heading
    +pre(1,12)
    +span-columns(5,12)

  .form
    +span-columns(5 omega,12)
    +post(1,12)
  .row
    margin-bottom: 7px
    overflow: hidden
  .field
  .field.email
    +span-columns(3,5)  
  .field.phone  
    +span-columns(2 omega,5)
  label
    display: block
    font-size: 13px
    line-height: 19px
  input, textarea
    background: $white image_url("field-bg.png") repeat-x top center
    border: 1px solid #ccc
    width: 100%
  input
  textarea
    height: 100px
  button
    +replace-text-with-dimensions("contact-submit-bg.png")
    border: none
    float: right
    &:hover
      +opacity(0.6)
  .work-with-us
    padding-top: 38px
    overflow: hidden
    .image
      +span-columns(4,12)
    .text
      +span-columns(8 omega,12)

          
section.home

#home-slides
  width: 100%
  overflow: hidden
  .slides-img
    img
      width: 100%
      display: block
      +box-shadow(#e7e7e7 0px -4px 10px)
#home-slides-nav 
  overflow: hidden
  border-top: 6px solid $orange
  .slide-item
    +span-columns(3,12)
    +nth-omega(last)
    position: relative    
    color: $grey
    padding-top: 30px
    h4
      font-size: 20px
      font-weight: 700
      line-height: 26px
      margin-bottom: 8px        
    p
      font-size: 13px
      line-height: 20px
    &:hover
      cursor: pointer
    &.active
      h4
        color: $orange
      &:before
        content: ""
        display: block
        position: absolute
        top: 0
        left: 4em
        background: image_url("tri.png") no-repeat
        width: image-width("tri.png")
        height: image-height("tri.png")







.delivery
  color: $black
  font-size: 13px
  
  button
    font-size: 13px
    font-weight: 700
    color: $white
    background: $orange
    border: 0
    padding: 2px
  h4
    font-size: 24px
    line-height: 31px
    font-weight: 700
    color: $orange
    margin-bottom: 10px

  select
    color: $dark_grey
    border: 1px solid $dark_grey
    background: none

  .change-order
    color: $light_orange
  p
    line-height: 20px
  ul
    line-height: 28px

  .address 
    select
      width: 217px
    input
      width: 184px
  

  .submit
    padding: 2px 4px
    margin-top: 21px
    font-size: 15px

#lightbox
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(#000,0.5)
  z-index: 1000

  .outter
    +pre(1,12)
    +span-columns(10,12)
    +post(1,12)
  .inner
    margin-top: 50px
    background: $white
    padding: 40px

  .delivery
    overflow: hidden
    .order
      float: left
      width: 280px
      padding-right: 24px
      .shipping
        margin-top: 31px
      .total
        margin-top: 36px
      .change-order
        margin-top: 40px
        display: block
    .user-data
      border-left: 1px solid $orange
      padding-left: 40px
      float: right
      width: 359px
      .part2
        margin-top: 28px
        h4
          margin-bottom: 14px
        select
          width: 118px

      .part3
        margin-top: 33px




section.menu
  padding-bottom: 100px
  nav.menu
    position: relative
    background: image_url("menu-bg.png") no-repeat
    
    .indicator
      position: absolute
      display: block
      margin: 0
      padding: 0
      z-index: 999
      background: $orange
      height: 2px
      bottom: 18px
    ul
      +horizontal-list(false)
      position: relative
      z-index: 1000 //stay on top of indicator
      li.active 
        i
          +opacity(0.6)
        span
          color: $dark_grey
    li
    a
      +transition(all 1s ease)
      display: block
      padding: 11px 0 18px
      text-align: center
      &:hover
        text-decoration: none

    span
      display: block
      text-transform: uppercase
      font-size: 14px
      font-weight: 700
      color: $orange
      line-height: 27px
      
      
    &.not-ready
      span
        position: absolute
  .products
    +span-columns(9,12)
    
    .product
      +span-columns(3,9)
      +nth-omega(3n)
      height: 165px
      .image
        margin-bottom: 12px
        height: 130px
        img
          display: block
          width: 100%
      .title, .price
        font-size: 13px
        line-height: 20px
      .title
        +span-columns(2,3)
        text-transform: uppercase
        font-weight: 700
        color: $light_orange
        
      .price
        font-weight: 600
        color: $grey
        text-align: right
        +span-columns(1 omega,3)
        
  .your-order
    +span-columns(3 omega,12)
    padding-top: 10px
    color: $black
    font-size: 12px
    position: relative
    .separator
      top: 16px
      position: absolute
      left: -9px
      background: #ccc
      height: 232px
      width: 1px
    h4
      font-weight: 700
      color: $orange
      font-size: 25px
      margin-bottom: 11px
      border-bottom: 1px solid $orange
      padding: 3px
    .cart
      border-bottom: 1px solid $orange
      height: 156px
      
    .total
      margin-top: 10px
      font-weight: 600
      text-align: right
      a, span
        vertical-align: middle      
      .reload
        +replace-text-with-dimensions("reload.png")
        margin-right: 10px
        display: inline-block
        
