%footer
  .container
    %hr

  .container
    .six
      %h5 MENÚ
      %nav
        %ul
          %li
            %a(href="#") Combinados
          %li
            %a(href="#") Rolls & Makis
          %li
            %a(href="#") Sashimis & Nigiris
          %li
            %a(href="#") Ensaladas
          %li
            %a(href="#") Wok & Pasta
          %li
            %a(href="#") Adicionales
          %li
            %a(href="#") Bocaditos
          %li
            %a(href="#") Postres & Bebidas

     
    .six
      %h5 PEDIDOS ONLINE
      %nav
        %ul
          %li
            %a(href="#") Registrarme
          %li
            %a(href="#") Log In
          %li
            %a(href="#") Cómo funciona
          %li
            %a(href="#") Hacer pedido

    .six
      %h5 NOSOTROS
      %nav
        %ul
          %li
            %a(href="#") Nuestro alcance
          %li
            %a(href="#") Horarios de atención

    .six
      %h5 FRANQUICIAS
      %nav
        %ul
          %li
            %a(href="#") Informate

    .contact
      %nav.social
        %ul
          %li.fb
            %a(href="#") facebook
          %li.tw
            %a(href="#") twitter
      .phone  0800 444 ROLL (7655)
      .email info@shi-tei.com

    .copy
      Copyright © 2011-2013 SHITEI - Todos los derechos reservados - Terminos y Condiciones - Política de Privacidad  -  info@shi-tei.com
      %br
      Diseño: Mariano Diez  -  Programación: Felisa Savio

