%header
  .container
    .logo
      %a(href="/") HOME
    .menu
      .upper-row
        .phone 0800 444 ROLL (7655)
        .user-social
          %nav.user
            %ul
              %li
                %a(href="#") LOG IN
              %li
                %a(href="#") REGISTRATE
          %nav.social
            %ul
              %li.fb
                %a(href="#") facebook
              %li.tw
                %a(href="#") twitter
              
      %nav.main
        %ul
          %li
            %a(href="/") INICIO
          %li
            %a(href="/menu.html") MENU
          %li
            %a(href="/pedidos.html") PEDIDOS ONLINE
          %li
            %a(href="/alcance.html") NUESTRO ALCANCE
          %li
            %a(href="/franquicias.html") FRANQUICIAS
          %li
            %a(href="/contacto.html") CONTACTO

