%section.contact
  .container
    .contact-box
      .heading
        =image_tag "contact-heading.png"
      .form
        %form
          .row
            .field
              %label(for="name") Nombre:*
              %input(name="name")
          .row
            .field.email
              %label(for="email") E-mail:*
              %input(name="email")
            .field.phone
              %label(for="phone") Teléfono:*
              %input(name="phone")
          .row
            %label(for="message") Mensaje:*
            %textarea(name="message")
          .row
            %button
    .work-with-us
      .image
        =image_tag "work-with-us.png"
      .text
        %h3 Envianos tu CV
        %p ¿Querés compartir nuestra pasión por elaborar el mejor sushi para nuestros clientes?
        %p Buscamos lograr el mejor clima laboral, donde el respeto y la dignidad fortalezcan los equipos de trabajo y nuestra relación con nuestros clientes y la comunidad.
        %p ¡Vos también podés ser parte de SHITEI!
        %a(href="#") ¡Postulate aquí!

