%section.franquicias
  .container
    .franquicias-box
      .heading
        %h3 ¿Querés ser parte de SHITEI?
        %p
          Si pensás en emprender un negocio, <br>
          quizás es hora de que abras tu propio SHITEI.<br>
          Un sabroso negocio lleno de posibilidades. <br>
          Sólo necesitás un poco de iniciativa. <br>
          SHITEI está a tu alcance.<br>
          Para dar el primer paso completá con tus datos <br>
          y el departamento de franquicias SHITEI <br>
          se contactará con vos para acompañarte en el proceso.        
      .form
        %form
          .row
            %input
            %label Nombre:
          .row
            %input
            %label Apellido:
          .row
            %input
            %label E-mail:
          .row
            %input
            %label Tel:
          .row
            %input
            %label Ciudad:
          .row
            %input
            %label País:
          .row
            %button
