
%section.home
  .container
    #home-slides
      .slides-img
        =image_tag "home1.png"
      .slides-img
        =image_tag "home1.png"
      .slides-img
        =image_tag "home1.png"
      .slides-img
        =image_tag "home1.png"
    
    #home-slides-nav.slides
      .slide-item
        .indicator
        %h4 
          Bienvenido
          %br
          New York Roll!
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          Lorem ipsum dolor sit amet.
      .slide-item
        %h4 
          Bienvenido
          %br
          New York Roll!
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          Lorem ipsum dolor sit amet.
      .slide-item
        %h4 
          Bienvenido
          %br
          New York Roll!
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          Lorem ipsum dolor sit amet.
      .slide-item
        %h4 
          Bienvenido
          %br
          New York Roll!
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          Lorem ipsum dolor sit amet.

