%section.menu
  .container
    %nav.menu
      .indicator
      %ul
        %li.combinados
          %a(href="#") 
            =image_tag "icon/combinados.png"
            %span 
              %b combinados
        %li.active.rolls-makis
          %a(href="#")
            =image_tag "icon/rolls-makis.png"
            %span
              %b rolls & makis
        %li.sashimis-nigiris
          %a(href="#")
            =image_tag "icon/sashimis-nigiris.png"
            %span 
              %b sashimis & nigiris
        %li.ensaladas
          %a(href="#")
            =image_tag "icon/ensaladas.png"
            %span 
              %b ensaladas
        %li.wok-pasta
          %a(href="#")
            =image_tag "icon/wok-pasta.png"
            %span 
              %b wok & pasta
        %li.adicionales
          %a(href="#")
            =image_tag "icon/adicionales.png"
            %span 
              %b adicionales
        %li.bocaditos
          %a(href="#")
            =image_tag "icon/bocaditos.png"
            %span 
              %b bocaditos
        %li.postres-bebidas
          %a(href="#")
            =image_tag "icon/postres-bebidas.png"
            %span 
              %b postres y bebidas
    .products
      .product
        .image
          =image_tag "products/p1.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p2.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p3.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p1.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p2.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p3.png"
        .title new york roll
        .price 8 u. $30
    .your-order
      .separator

      %h4 TU PEDIDO
      .cart
        %span Carro vacío -
      .total 
        %a.reload(href="#")
        %span TOTAL $0000.00

