%section.menu
  .container
    %nav.menu
      .indicator
      %ul
        %li
          %a(href="#") 
            %i.icon-combinados
            %span 
              %b combinados
        %li.active
          %a(href="#")
            %i.icon-rolls-makis
            %span
              %b rolls & makis
        %li
          %a(href="#")
            %i.icon-sashimis-nigiris
            %span 
              %b sashimis & nigiris
        %li
          %a(href="#")
            %i.icon-ensaladas
            %span 
              %b ensaladas
        %li
          %a(href="#")
            %i.icon-wok-pasta
            %span 
              %b wok & pasta
        %li
          %a(href="#")
            %i.icon-adicionales
            %span 
              %b adicionales
        %li
          %a(href="#")
            %i.icon-bocaditos
            %span 
              %b bocaditos
        %li
          %a(href="#")
            %i.icon-postres-bebidas
            %span 
              %b postres y bebidas
    .products
      .product
        .image
          =image_tag "products/p1.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p2.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p3.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p1.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p2.png"
        .title new york roll
        .price 8 u. $30
      .product
        .image
          =image_tag "products/p3.png"
        .title new york roll
        .price 8 u. $30
    .your-order
      .separator

      %h4 TU PEDIDO
      .cart
        %span Carro vacío -
      .total 
        %a.reload(href="#")
        %span TOTAL $0000.00

